**/*.d.ts
node_modules/**
dist/**

src/ui/third_party/**

# Old files that could be optimized.
src/env.d.ts
src/ui/Demo.tsx
src/ui/UIButton.tsx
src/ui/UICard.tsx
src/ui/UICountDown.tsx
src/ui/UIFileUploader.tsx
src/ui/UIFlexbox.tsx
src/ui/UIForm.tsx
src/ui/UIImage.tsx
src/ui/UIKeyboardInput.tsx
src/ui/UIKeyboardSelect.tsx
src/ui/UILineSeparator.tsx
src/ui/UILink.tsx
src/ui/UIModal.tsx
src/ui/UIRadio.tsx
src/ui/UIRadioGroup.tsx
src/ui/UIText.tsx
src/ui/UIToast.tsx
src/ui/UIToolTip.tsx
src/ui/utils/FormFactory.tsx
src/ui/utils/RadioGroupFactory.tsx