@use 'ui_fonts';
@use 'ui_colors';

.ui-card-group {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  box-shadow: 0px 0px 4px 2px rgba(ui_colors.$light-grey, 0.25);
  border-radius: 8px;
  outline-offset: -0.5px;
  outline-width: 0.5px;
  outline-style: solid;
  outline-color: ui_colors.$light-grey;
  margin: 8px;
  overflow: hidden;
  > .ui-card {
    flex-grow: 1;
    border-width: 0.5px;
    box-shadow: none;
    border-radius: 0px;
    margin: 0px;
  }
  > .ui-card-group {
    flex-grow: 1;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 0px;
  }
}
