$light-blue: #7688f8;
$blue: #3751ff;
$dark-blue: #273ab8;
$navy-blue: #003057;

$black: #1d1d1d;
$white: #f1f1f1;

$light-grey: #d5d6e0;
$grey: #a6a6a6;
$dark-grey: #6e6e6e;

$red: #f63737;
$green: #29cc97;

$light-orange: #fcd49c;
$orange: #eebc56;
$dark-orange: #e9840f;
