@use "ui_colors";
@use "ui_fonts";

.ui-radio {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: ui_colors.$light-grey;
  border-width: 1px;
  border-radius: min(0.5em, 15px);
  align-items: center;
  flex: 1;
  padding: 0.2em 0.8em;
  color: ui_colors.$grey;
  font-family: ui_fonts.$primary;
  font-weight: 600;
  font-size: 16px;
  transition: all linear 0.2s;
  user-select: none;
}

.ui-radio-group-wrapper {
  display: flex;
  flex-grow: 1;
  border-radius: 8px;
  align-items: center;
  position: relative;
  .ui-radio-group {
    display: flex;
    transition: all linear 0.5s;
    flex: 1;
    &.primary {
      .ui-radio {
        &.checked {
          border-color: ui_colors.$dark-blue;
          box-shadow: inset 0px 0px 4px ui_colors.$dark-blue;
          color: ui_colors.$dark-blue;
        }
      }
    }
    &.secondary {
      .ui-radio {
        &.checked {
          border-color: ui_colors.$dark-orange;
          box-shadow: inset 0px 0px 4px ui_colors.$dark-orange;
          color: ui_colors.$dark-orange;
        }
      }
    }
  }
  .ui-radio-group-error {
    position: absolute;
    right: 0px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: flex-end;
    width: 34px;
    height: 100%;
    transition: all linear 0.2s;
    pointer-events: none;
    opacity: 0;
    right: -26px;
    &.shown {
      opacity: 1;
      pointer-events: all;
    }
  }
}
